{
  "extends": "airbnb-base",
  "rules": {
    "no-param-reassign": ["error", {
      "props": false
    }],
    "arrow-parens": ["error", "always"]
  },
  "settings": {
    "ecmascript": 6,
    "import/resolver": {
      "webpack": {
        "config": "webpack.config.js"
      }
    }
  },
  "globals": {
    "expect": true,
    "it": true
  },
  "env": {
    "browser": true,
    "node": true,
    "mocha": true,
    "es6": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module"
  },
  "plugins": [
    "html"
  ]
}